<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts" href="/tabs/workouts">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diet" href="/tabs/diet">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Diet</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
